<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <img style="width: 3rem; padding-right:1rem;"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Video-Game-Controller-Icon-IDV-green.svg/1200px-Video-Game-Controller-Icon-IDV-green.svg.png"
        alt="" srcset="">
    <a class="navbar-brand" routerLink="./">GAME ROOM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex" id="navbarNavAltMarkup">
        <div class="navbar-nav p-2">
            <button class="btn p-2 m-2 nav-item nav-link" routerLink="./ahorcado">HANGMAN</button>
            <button class="btn p-2 m-2 nav-item nav-link" routerLink="./mayormenor">GREATER OR LOWER</button>
            <button class="btn p-2 m-2 nav-item nav-link" routerLink="./preguntados">GUESS CHARACTER</button>
            <button class="btn p-2 m-2 nav-item nav-link" routerLink="./snake">SNAKE</button>
        </div>
    </div>
    <a class="btn ml-auto p-2" style="margin-right: 1rem;" routerLink="./poll">What do you think about us?</a>
    <button class="btn ml-auto p-2" type="submit" (click)="logout()">Logout</button>
</nav>