.btn {
    background-color: #0451c4;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    transition: 0.5s background-color;
}

.btn:hover {
    background-color: #031fc0;
}

.navbar {
    padding: 0 30px;
}