<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="./">Sala De Juegos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex" id="navbarNavAltMarkup">
        <div class="navbar-nav p-2">
            <a class="nav-item nav-link" routerLink="./ahorcado">AHORCADO</a>
            <a class="nav-item nav-link" routerLink="./mayormenor">MAYOR O MENOR</a>
            <a class="nav-item nav-link" routerLink="./preguntados">PREGUNTADOS</a>
            <a class="nav-item nav-link" routerLink="./snake">LA SERPIENTE</a>
            <a class="nav-item nav-link" routerLink="./encuesta">ENCUESTA</a>
        </div>
    </div>
    <button class="btn ml-auto p-2" type="submit" (click)="logout()">Cerrar Sesión</button>
</nav>