<div class="container py-1">

  <div class="p-2 mb-2 bg-dark">
    <div class="container-fluid py-1">
      <div>
        <h2>🙇 HANGMAN GAME ☠</h2>
        <p>You are shown a set of blank letters that match a word or phrase and you have to guess what these letters are
          to reveal the hidden word. You guess by picking letters from those displayed on the sides. If you pick a
          letter that is in the word, a sound is played and that letter is revealed from the blank letters; however, if
          you pick a letter that is not in the word, then a stickman is slowly drawn.
        <p>
      </div>
    </div>
  </div>

  <div class="row align-items-md-stretch">

    <div class="col-md-9">
      <div class="h-100 p-5 bg-dark">

        <div id="buttons">
          <div class="column">
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('A') ; actionMethod($event)">A</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('B') ; actionMethod($event)">B</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('C') ; actionMethod($event)">C</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('D') ; actionMethod($event)">D</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('E') ; actionMethod($event)">E</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('F') ; actionMethod($event)">F</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('G') ; actionMethod($event)">G</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('H') ; actionMethod($event)">H</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('I') ; actionMethod($event)">I</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('J') ; actionMethod($event)">J</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('K') ; actionMethod($event)">K</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('L') ; actionMethod($event)">L</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('M') ; actionMethod($event)">M</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('N') ; actionMethod($event)">N</button>
          </div>
          <div class="column">
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('Ñ') ; actionMethod($event)">Ñ</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('O') ; actionMethod($event)">O</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('P') ; actionMethod($event)">P</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('Q') ; actionMethod($event)">Q</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('R') ; actionMethod($event)">R</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('S') ; actionMethod($event)">S</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('T') ; actionMethod($event)">T</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('U') ; actionMethod($event)">U</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('V') ; actionMethod($event)">V</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('W') ; actionMethod($event)">W</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('X') ; actionMethod($event)">X</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('Y') ; actionMethod($event)">Y</button>
            <button class="btn btn-primary" [disabled]="letterButton" style="margin:1px;"
              (click)="chosenOption('Z') ; actionMethod($event)">Z</button>
          </div>
        </div>
        <br>
        <h1>{{hiddenWord}}</h1>
        <p>TRIES &nbsp;{{ tries }} / 7</p>

      </div>
    </div>
    <div class="col-md-3 ">
      <div class="h-100 p-5 bg-dark">
        <img src={{triesImg}} alt="hangman" width="max" height="200">
        <br>
        <div class="row" *ngIf="win">
          <div class="col text-center">
            <h3 class="win">OK, YOU WIN!</h3>
            <button class="btn btn-primary" (click)="reload()">Play again</button>
          </div>
        </div>
        <div class="row" *ngIf="lost">
          <div class="col text-center">
            <h3 class="lost">GAME OVER...</h3>
            <p class="lost">The right word was: <a style="font-weight: bold;">{{word}}</a></p>
            <button class="btn btn-primary" (click)="reload()">Try again</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>