<div class="container py-1">
    <div class="p-2 mb-2 bg-dark text-center">
        <div class="container-fluid py-1">
            <div>
                <h2>ADMIN PANEL</h2>
            </div>
        </div>
    </div>

    <div class="row align-items-md-stretch">

        <div class="col-md-6">
            <div class="p-5 bg-dark text-center" style="height: 400px">
                <h2>USAGE STATISTICS</h2>
            </div>
        </div>

        <div class="col-md-6">
            <div class="p-5 bg-dark text-center" style="height: 400px">
                <h2>POLL RESULTS</h2>
            </div>
        </div>

    </div>

</div>