<div class="container py-1">

    <div class="p-2 mb-2 bg-light rounded-3 text-center">
        <div class="container-fluid py-1">
            <div>
                <h2>PANEL DE ADMINISTRACIÓN</h2>
            </div>
        </div>
    </div>

    <div class="row align-items-md-stretch">

        <div class="col-md-6">
            <div class="p-5 bg-light border rounded-3 text-center" style="height: 400px">
                <h2> ESTADISTICAS DE USO</h2>
            </div>
        </div>

        <div class="col-md-6">
            <div class="p-5 bg-light border rounded-3 text-center" style="height: 400px">
                <h2>RESULTADOS ENCUESTAS</h2>
            </div>
        </div>

    </div>

</div>