 
  h1 {
    color: #5eccd6;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;

  }

  button {
    border-radius: 20px;
    padding: 5px;
  }
  
  .background {
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
    background-size: contain;
    box-sizing: border-box;
    padding-top: 10%;
  }
  
  .login-container {
    border-radius: 10px;
    display: flex;
    width: 80%;
  }
  
  .text-container {
    align-items: center;
    background-color: #00647e;
    border-radius: 10px 0 0 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    width: 30%;
  }
  
  .form-container {
    align-items: center;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 100%;
  }
  
  .text-container h1 {
    color: #fff;
  }
  
  .text-container button {
    background-color: transparent;
    border: 1px solid #fff;
  }