    <div class="login-container">
        <div class="form-container">
            <app-login-form (formData)="login($event)"></app-login-form>
            <br>
            <a class="btn btn-light" style="background-color: #ffffff;" role="button" (click)="loginWithGoogle()">
                <i class="bi bi-google me-2" style="color: cornflowerblue;"></i>
                LOGIN WITH GOOGLE
            </a>
        </div>
    </div>
<footer id="sticky-footer" class="fixed-bottom flex-shrink-0 py-2 bg-dark text-white-50">
    <div class="container d-flex justify-content-center align-items-center">
        <button class="btn btn-danger" role="button" routerLink="./cv">
            ABOUT ME
        </button>
    </div>
</footer>