<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="form-control">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="text" autocomplete="off" required />
    <mat-error *ngIf="email?.hasError('required')">
      The email is mandatory
    </mat-error>
    <mat-error *ngIf="email?.hasError('email')">
      The email is invalid, please type a valid email.
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="form-control">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" autocomplete="off" required />
    <mat-error *ngIf="password?.hasError('required')">
      The password is mandatory
    </mat-error>
  </mat-form-field>
  <br>
  <button [disabled]="form.invalid" style="width:100%" mat-stroked-button type="submit">
    LOGIN
  </button>
  <br>
</form>
<div class="d-flex justify-content-center">
  <!-- <button mat-button style="width:100%" (click)="fillForm()">
    Quick access for USER
  </button> -->
</div>