button {
    background-color: #006db6;
    color: #fff;
    padding: 0 50px;
    margin: 10px;
  }
  
  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  mat-form-field {
    width: 100%;
  }