<div id="navbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div id="navbarFirst">
        <span>GAMES</span>
    </div>
    <div id="navbardSecond" fxLayout="row" fxLayoutAlign="none center">
        <div class="navBarItem" style=" border-bottom: 1px solid white;" href="#" mat-button>
            <a [routerLink]="['/home']">Home</a>
        </div>
        <div class="navBarItem" href="#" mat-button>
            <a [routerLink]="['/aboutMe']">About me</a>
        </div>
    </div>
    <div id="navbarThird" fxLayout="row" fxLAyoutAlign="none center">
        <div *ngIf="auth.user | async as user;" class="navbarRightButton" (click)="logout()">Welcome {{ auth.user |
            async}}</div>
        <hr>
        <div *ngIf="auth.user | async as user; else showLogin" class="navbarRightButton" (click)="logout()"> <a [routerLink]="['/home']">LOG OUT</a></div>

        <ng-template #showLogin>
            <div class="navbarRightButton">
                <a [routerLink]="['/login']">LOGIN</a>
            </div>

            <hr>

            <div class=" navbarRightButton">
                <a [routerLink]="['/signUp']">REGISTER</a>
            </div>
        </ng-template>
    </div>
</div>