<div id="navbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div id="navbarFirst">
        <span>LPR</span>
    </div>
    <div id="navbardSecond" fxLayout="row" fxLayoutAlign="none center">
        <div class="navBarItem" style=" border-bottom: 1px solid white;" href="#" mat-button>
            Home
        </div>
        <div class="navBarItem" href="#" mat-button>
            Categories
        </div>
        <div class="navBarItem" href="#" mat-button>
            Youtube
        </div>
        <div class="navBarItem" href="#" mat-button>
            Contact us
        </div>
    </div>
    <div id="navbarThird" fxLayout="row" fxLAyoutAlign="none center">
        <div class="navbarRightButton">LOG IN</div>
        <hr>
        <div class="navbarRightButton">REGISTER</div>
    </div>
</div>