
  
  .card-header{
    background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 1)) !important;
  }
  
  .chat-window{
    padding: 10px;
    height: 800px;
    overflow: hidden;
  }

  .app-message{
    overflow-y:scroll;
    height: 80%;
    padding: 0px;
  }
  
  .text-right{
    text-align: right;
    padding-right: 3%;
  }

  .text-left{
    text-align: left;
    padding-left: 3%;
  }
  
  
  /* Animaciones */
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  .date{
    font-size: xx-small;
    font-style: italic;
    margin: 0%;
    padding: 0%;    
  }

  p{
    margin: 0%;
    padding: 0%;
  }
 