<div class="chat">
    <div class="card" id="chat1" style="border-radius: 15px;">
        <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
            style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
            <p class="mb-0 fw-bold">CHAT</p>
        </div>
        <div class="card-body app-message " 
             data-mdb-perfect-scrollbar="true"
             style="position: relative; height: 400px; padding: 3%;">


            <div *ngFor="let chat of chatService.chats">

                <div *ngIf="chatService.userLog.uid == chat.uid">

                    <div class="d-flex flex-row justify-content-end mb-4 pt-1 text-right">
                        <div>
                            <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary"> 
                                {{chat.name}} <br> {{chat.message}}
                            </p>
                            <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">
                                {{chat.date}}
                            </p>
                        </div>
                        <img src="{{(chat.photo) ? chat.photo : '/assets/dummy-user.png'}}"
                             alt="{{chatService.userLog.displayName}}" 
                             style="width: 45px; height: 100%;"
                             class="img-thumbnail">
                    </div>
                </div>

                <div *ngIf="chatService.userLog.uid != chat.uid">

                    <div class="d-flex flex-row justify-content-start text-left">
                        <img src="{{(chat.photo) ? chat.photo : '/assets/dummy-user.png'}}"
                             alt="{{chatService.userLog.displayName}}" 
                             style="width: 45px; height: 100%;"
                             class="img-thumbnail">
                        <div>
                            <p class="small p-2 ms-3 mb-1 rounded-3" 
                               style="background-color: #f5f6f7;">
                                {{chat.name}}
                                <br>
                                {{chat.message}}
                            </p>
                            <p class="small ms-3 mb-3 rounded-3 text-muted">
                                {{chat.date}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <input type="text" 
           name="message" 
           [(ngModel)]="message" 
           (keyup.enter)="sendMessage()" 
           class="form-control"
           id="app-message-input" 
           placeholder="Escribe tu mensaje...">
</div>