<div class="container py-1">

  <div class="game-box p-2 mb-2 bg-dark">
    <div class="container-fluid py-1">
      <div>
        <h2>PREGUNTADOS</h2>
        <p>Preguntados es un juego de preguntas y respuestas de eleccion multiple. Para ganar, tendrás que contestar
          correctamente las preguntas que iran apareciendo en pantalla.
        <p>
      </div>
    </div>
  </div>

  <div class="row align-items-md-stretch">

    <div class="col-md-6">
      <div class="p-5 bg-dark text-center" style="height: 400px">
        <p>Who is this character?</p>
        <br>
        <div class="d-flex justify-content-center">
          <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status"
            *ngIf="spinnerService.visibility | async; else elseBlock">
            <span class="sr-only"></span>
          </div>
        </div>
        <ng-template #elseBlock>
          <img src={{characterImg}} alt="character" width="max" height="200">
        </ng-template>
      </div>
    </div>

    <div class="col-md-6">
      <div class="p-5 bg-dark">
        <div class="d-flex justify-content-center">
          <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status"
            *ngIf="spinnerService.visibility | async; else elseBlock2">
            <span class="sr-only"></span>
          </div>
        </div>
        <ng-template #elseBlock2>
          <button class="btn btn-primary" style="width:100%; margin:1px"
            (click)="checkAnswer(array[0])">{{array[0]}}</button>
          <button class="btn btn-primary" style="width:100%; margin:1px"
            (click)="checkAnswer(array[1])">{{array[1]}}</button>
          <button class="btn btn-primary" style="width:100%; margin:1px"
            (click)="checkAnswer(array[2])">{{array[2]}}</button>
          <button class="btn btn-primary" style="width:100%; margin:1px"
            (click)="checkAnswer(array[3])">{{array[3]}}</button>
        </ng-template>
        <br>
        <br>
        <p>Points: {{points}}</p>
      </div>
    </div>

  </div>

</div>