h1 {
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  padding: 5px;
}

.login-container {
  display: flex;
  align-items: center;
  background-image: url('https://image.winudf.com/v2/image1/Y29tLmVkc2FwcHMuZ2FtaW5nX3dhbGxwYXBlcnNfNGtfc2NyZWVuXzNfMTYxMzgyNjQ3NF8wMDA/screen-3.jpg?fakeurl=1&type=.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  width: 50%;
  margin-top: 6rem;
  margin-left: 25%;
}

.text-container {
  align-items: center;
  background-color: #00647e;
  border-: 10px 0 0 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  width: 30%;
}

.form-container {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  width: 100%;
}

.text-container h1 {
  color: #fff;
}

.text-container button {
  background-color: transparent;
  border: 1px solid #fff;
}