<div class="container">
 
    <div class="p-2 mb-2 bg-light rounded-3" style="width: 100%">
      <div class="container-fluid py-1">
        <div>
            <br>
            <h1 style="text-align: center;">ENCUESTA</h1>
            <hr>
            <div class="row align-items-md-stretch">

                <div class="col-md-6">
                    <form class="form was-validated" [formGroup]="form">
                        <div class="row align-items-md-stretch">
                            <div class="form-group col-md-6">
                                <label for="name" class="form-label">NOMBRE</label>
                                <input type="text" class="form-control" id="name" aria-describedby="name" required="" formControlName="name">
                                <div class="invalid-feedback">
                                    Ingrese su nombre.
                                </div>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="lastName" class="form-label">APELLIDO</label>
                                <input type="text" class="form-control" id="lastName" aria-describedby="lastName" required="" formControlName="lastName">
                                <div class="invalid-feedback">
                                    Ingrese su apellido.
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row align-items-md-stretch">
                            <div class="form-group col-md-9">
                                <label for="phone" class="form-label">TELEFONO</label>
                                <input type="number" class="form-control" id="phone" aria-describedby="phone" required="" min="1" max="9999999999" formControlName="phone">
                                <div class="invalid-feedback">
                                    Ingrese su telefono (max. 10 digitos).
                                </div>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="age" class="form-label">EDAD</label>
                                <input type="number" class="form-control" id="age" aria-describedby="age" required="" min="18" max="99" formControlName="age">
                                <div class="invalid-feedback">
                                    Ingrese su edad (18-99).
                                </div>
                            </div>                 
                        </div>

                        <br>

                        <div class="form-group col-md-12">
                            <select class="form-select" id="favGame" aria-expanded="false" required="" formControlName="favGame">
                                <option selected="" disabled="" value="">JUEGO PREFERIDO</option>
                                <option value="ahorcado">AHORCADO</option>
                                <option value="preguntados">PREGUNTADOS</option>
                                <option value="mayorMenor">MAYOR O MENOR</option>
                                <option value="snake">LA SERPIENTE</option>
                            </select>
                            <div class="invalid-feedback">
                                Ingrese su juego preferido.
                            </div>
                        </div>

                        <br>

                        <div class="row align-items-md-stretch">
                            <div class="form-group col-md-4">
                                <label for="experience">EXPERIENCIA GENERAL</label>       
                                <div class="btn-group-vertical">               
                                <div class="form-check" >
                                    <input class="form-check-input" type="radio" name="experience" id="excelent" required="" formControlName="experience" value="excelent">
                                    <label class="form-check-label" for="excelent">
                                        EXCELENTE
                                    </label>                                    
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="experience" id="good" required="" 
                                    formControlName="experience" value="good">
                                    <label class="form-check-label" for="good">
                                        BUENA
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="experience" id="regular" required="" 
                                    formControlName="experience" value="regular">
                                    <label class="form-check-label" for="regular">
                                        REGULAR
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="experience" id="bad" required="" 
                                    formControlName="experience" value="bad">
                                    <label class="form-check-label" for="bad">
                                        MALA
                                    </label>
                                    <div class="invalid-feedback">
                                        Califique su experiencia.
                                    </div>    
                                </div>
                                
                                </div>
                            </div>

                            <div class="form-group col-md-8">
                                <div class="form-group">
                                    <label for="opinion">DEJANOS TU OPINION:</label>
                                    <textarea class="form-control" id="opinion" rows="3" required="" formControlName="opinion"></textarea>
                                    <div class="invalid-feedback">
                                        Ingrese un comentario.
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        
                        <br>
                        
                        

                        <br>
                        <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary" style="width: 80%;" (click)="onSubmit()">ENVIAR</button>
                        </div>
                    </form>
                </div>

                
                <div class="col-md-6" style="text-align: center;">
                    <img src='/assets/survey.png' class="img-responsive" style="width: 80%;">
                </div>
            </div>
 
        </div>
      </div>
    </div>     
</div>
