.chat-container{
    position: absolute;
    top: 24%;
    right: 0%;
    background: transparent;
}

.profile-information{
    text-align: center;
}

.container{
    width: 50%;
    background: transparent;
    color: white;
}

.userProfile{
    border: 1px solid white;
    padding: 1rem;
    border-radius: 10px;
    background-color: black;
    margin-bottom: 1rem;
}