.chat-container{
    position: absolute;
    top: 24%;
    right: 0%;
    background: transparent;
}

.profile-information{
    text-align: center;
}

.container{
    width: 50%;
    background: transparent;
}