<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">ABOUT ME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex" id="navbarNavAltMarkup">
    </div>
    <button class="btn ml-auto p-2" type="submit" (click)="homeClicked()">🏠 HOME</button>
</nav>
<div class="main-wrapper">
    <div class="container px-3 px-lg-5">
        <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

            <div class="resume-header">
                <div class="row align-items-center">
                    <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
                        <h2 class="resume-name mb-0 text-uppercase">Juan Marcos Vallejo</h2>
                        <div class="resume-tagline mb-3 mb-md-0">Senior Software Engineer</div>
                        <div>
                            <img src="https://i.imgur.com/8RiCYIC.png" style="width: 10rem; border-radius:50%; margin-top:1rem;" alt="" srcset="">
                        </div>
                    </div>
                    <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><i class="bi bi-telephone-fill me-2"></i>
                                <a>1165524668</a>
                            </li>
                            <li class="mb-2"><i class="bi bi-envelope-fill me-2"></i>
                                <a>jamava.1994@gmail.com</a>
                            </li>
                            <li class="mb-0"><i class="bi bi-globe me-2"></i>Buenos Aires,
                                Argentina</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="resume-intro py-4">
                <div class="row align-items-center">
                    <div class="col text-start">
                        <p>Software engineer with vast experience in providing software solutions to corporate financial
                            services clients. Major skills include need analysis, problem solving and team work.</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="resume-body">
                <div class="row">
                    <div class="resume-main col-12 col-lg-8 col-xl-9   pe-0   pe-lg-5">

                        <section class="work-section py-3">

                            <h3 class="text-uppercase resume-section-heading mb-4">SKILLS</h3>
                            <hr>
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Software Programer
                                        Bachelor Degree</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">
                                        2018 – Now</div>
                                </div>
                                <div class="item-content">
                                    <p>TECHNOLOGICAL NATIONAL UNIVERSITY</p>
                                </div>
                            </div>
                        </section>

                        <section class="project-section py-3">
                            <hr>
                            <h3 class="text-uppercase resume-section-heading mb-4">WORKING EXPERIENCE</h3>
                            <hr>
                            <div class="item mb-3">
                                <div>
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Senior Fullstack
                                        Software Engineer
                                    </h4>
                                    <div class="text-muted text-start">
                                        United Language Group
                                    </div>
                                </div>
                            </div>

                            <div class="item mb-3">
                                <div>
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
                                        Semi Senior Senior Fullstack Software Engineer
                                    </h4>
                                    <div class="text-muted text-start">
                                        Cognizant Softvision
                                    </div>
                                </div>
                            </div>
                            <!--//item-->
                            <div class="item">
                                <div>
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
                                        Junior Backend Software Engineer
                                    </h4>
                                    <div class="text-muted text-start">
                                        Nosis
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div>
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
                                        Trainee Backend Software Engineer
                                    </h4>
                                    <div class="text-muted text-start">
                                        Segurcoop
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>