<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">QUIEN SOY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex" id="navbarNavAltMarkup">
    </div>
    <button class="btn ml-auto p-2" type="submit" (click)="backClicked()">VOLVER</button>
</nav>


<div class="main-wrapper">
    <div class="container px-3 px-lg-5">
        <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

            <div class="resume-header">
                <div class="row align-items-center">
                    <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
                        <h2 class="resume-name mb-0 text-uppercase">Gonzalo Sinnott</h2>
                        <div class="resume-tagline mb-3 mb-md-0">Programador - Docente</div>
                    </div>
                    <!--//resume-title-->
                    <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><i class="bi bi-telephone-fill me-2"></i>
                                <a>1154044035</a>
                            </li>
                            <li class="mb-2"><i class="bi bi-envelope-fill me-2"></i>
                                <a>gonzalo.sinnott@gmail.com</a>
                            </li>
                            <li class="mb-0"><i class="bi bi-globe me-2"></i>Buenos Aires,
                                Argentina</li>
                        </ul>
                    </div>
                    <!--//resume-contact-->
                </div>
                <!--//row-->

            </div>
            <!--//resume-header-->
            <hr>
            <div class="resume-intro py-3">
                <div class="row align-items-center">
                    <div class="col-12 col-md-3 col-xl-2 text-center">
                        <img class="img-fluid resume-profile-image mb-3 mb-md-0 me-md-5  ms-md-0 rounded mx-auto"
                            src="assets/resume-profile.png" alt="image" >
                    </div>

                    <div class="col text-start">
                        <p>Luego de ejercer la profesión docente durante varios años decidí orientarme hacia el campo de
                            la informática, pasión que tengo desde pequeño. Mi antiguo empleo me aporto las herramientas
                            para responder a los requerimientos específicos de cada cliente y la cultura del trabajo en
                            grupo.Mi objetivo es desarrollar soluciones informáticas que resuelvan las problemáticas y
                            agilicen la labor de las personas, a la vez que hagan más fáciles sus vidas.Me considero
                            proactivo, orientado a resultados, ordenado, con capacidad de planificación y en continua
                            búsqueda de resultados satisfactorios. Creo que la capacitación continua es clave para
                            mejorar como persona y a nivel profesional </p>
                    </div>
                    <!--//col-->
                </div>
            </div>
            <!--//resume-intro-->
            <hr>
            <div class="resume-body">
                <div class="row">
                    <div class="resume-main col-12 col-lg-8 col-xl-9   pe-0   pe-lg-5">

                        <section class="work-section py-3">

                            <h3 class="text-uppercase resume-section-heading mb-4">FORMACION</h3>
                            <hr>
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">TÉCNICO UNIVERSITARIO
                                        EN PROGRAMACIÓN</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">
                                        2020 – EN CURSO</div>
                                </div>
                                <div class="item-content">
                                    <p>UNIVERSIDAD TECNOLÓGICA NACIONAL</p>
                                </div>
                            </div>
                            <!--//item-->

                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">TRAMO DE FORMACIÓN
                                        PEDAGÓGICA PARA NIVEL MEDIO</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">
                                        OCTUBRE 2018</div>
                                </div>
                                <div class="item-content">
                                    <p>UNIVERSIDAD DE CIENCIAS EMPRESARIALES Y SOCIALES</p>
                                </div>
                            </div>
                            <!--//item-->

                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">TÉCNICO EN PRODUCCIÓN
                                        AGROPECUARIA</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">
                                        DICIEMBRE 2007</div>
                                </div>
                                <div class="item-content">
                                    <p>INSTITUTO AGROTÉCNICO SAN JOSÉ</p>
                                </div>
                            </div>
                            <!--//item-->

                        </section>
                        <!--//work-section-->


                        <section class="project-section py-3">
                            <hr>
                            <h3 class="text-uppercase resume-section-heading mb-4">EXPERIENCIA LABORAL</h3>
                            <hr>
                            <div class="item mb-3">
                                <div>
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">SOFTWARE DEVELOPER </h4>
                                    <div class="text-muted text-start">
                                        MERCADOLIBRE | ABR 2022 - PRESENTE</div>
                                </div>
                                <div class="item-content">
                                    <p></p>
                                </div>

                            </div>
                            <div class="item mb-3">
                                <div>
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">SOFTWARE DEVELOPER
                                        ANALYST</h4>
                                        <div class="text-muted text-start">
                                            NEORIS | NOV 2021 - MAR 2022</div>
                                </div>
                                <div class="item-content">
                                    <p></p>
                                </div>

                            </div>
                            <!--//item-->
                            <div class="item">
                                <div>
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">DOCENTE</h4>
                                    <div class="text-muted text-start">
                                        DGCYE | MAR 2014 - NOV 2021</div>
                                </div>
                                <div class="item-content">
                                    <p></p>
                                </div>
                            </div>
                            <!--//item-->

                        </section>
                        <!--//project-section-->

                        <section class="work-section py-3">
                            <hr>
                            <h3 class="text-uppercase resume-section-heading mb-4">CURSOS Y CERTIFICACIONES</h3>
                            <hr>

                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">BOOTCAMP BACKEND JAVA</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">
                                        JUNIO 2022</div>
                                </div>
                                <div class="item-content">
                                    <p>MERCADOLIBRE</p>
                                </div>
                            </div>
                            <!--//item-->

                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">LABORATORIO .NET +
                                        ANGULAR</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">
                                        OCTUBRE 2021</div>
                                </div>
                                <div class="item-content">
                                    <p>NEORIS</p>
                                </div>
                            </div>
                            <!--//item-->

                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">DISEÑO WEB CON HTMLS +
                                        CSS</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">
                                        JULIO 2021</div>
                                </div>
                                <div class="item-content">
                                    <p>FUNDACIÓN TELEFÓNICA</p>
                                </div>
                            </div>
                            <!--//item-->

                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">PROGRAMACIÓN CON
                                        JAVASCRIPT</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">
                                        JULIO 2021</div>
                                </div>
                                <div class="item-content">
                                    <p>FUNDACIÓN TELEFÓNICA</p>
                                </div>
                            </div>
                            <!--//item-->

                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">PROGRAMAR EN ARDUINO
                                    </h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">
                                        DICIEMBRE 2020</div>
                                </div>
                                <div class="item-content">
                                    <p>CENTRO DE INNOVACIÓN VIRTUAL PARA LA EDUCACIÓN Y EL TRABAJO</p>
                                </div>
                            </div>
                            <!--//item-->

                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">INTRODUCCIÓN AL
                                        DESARROLLO WEB</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">
                                        JULIO 2020</div>
                                </div>
                                <div class="item-content">
                                    <p>GOOGLE ACTÍVATE</p>
                                </div>
                            </div>
                            <!--//item-->

                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">B2 – FIRST (FCE)</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">
                                        JUNIO 2006</div>
                                </div>
                                <div class="item-content">
                                    <p>CAMBRIDGE ASSESMENT ENGLISH</p>
                                </div>
                            </div>
                            <!--//item-->

                        </section>
                        <!--//work-section-->

                    </div>
                    <!--//resume-main-->

                    <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
                        <section class="skills-section py-3"> 
                            <h3 class="text-uppercase resume-section-heading mb-4">APTITUDES</h3>
                            <hr>
                            <div class="item">
                                <ul class="list-unstyled resume-skills-list">
                                    <li class="mb-2">JavaScript/HTML/CSS</li>
                                    <li class="mb-2">PHP
                                    <li>
                                    <li class="mb-2">C#/.NET FRAMEWORK</li>
                                    <li class="mb-2">MS SQL SERVER</li>
                                    <li class="mb-2">ANGULAR</li>
                                    <li class="mb-2">BOOTSTRAP</li>
                                    <li class="mb-2">GIT</li>
                                    <li class="mb-2">ENTORNO LINUX</li>
                                </ul>
                            </div>
                            <!--//item-->
                        </section>
                    </aside>
                </div>

                <!--//resume-aside-->

            </div>
            <!--//row-->

    <!--//resume-body-->
    <hr>
    <div class="resume-footer text-center">
        <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
            <li class="list-inline-item mb-lg-0 me-3"><a class="resume-link"
                    href="https://www.github.com/gonzalosinnott"><i class="bi bi-github me-2"
                        data-fa-transform="down-4"></i><span
                        class="d-none d-lg-inline-block text-muted">github.com/gonzalosinnott</span></a></li>
            <li class="list-inline-item mb-lg-0 me-3"><a class="resume-link"
                    href="https://www.linkedin.com/in/gonzalosinnottsegura/"><i class="bi bi-linkedin me-2"
                        data-fa-transform="down-4"></i><span
                        class="d-none d-lg-inline-block text-muted">linkedin.com/in/gonzalosinnottsegura/</span></a>
            </li>
        </ul>
    </div>
    <!--//resume-footer-->
    </article>

</div>
<!--//container-->

<footer class="footer text-center py-4">
</footer>
</div>
<!--//main-wrapper-->