<div class="container py-1">

    <div class="p-2 mb-2 bg-light">
        <div class="container-fluid py-1">
            <div>
                <h2>SNAKE</h2>
                <p>Snake is a video game genre where the player maneuvers a growing line that becomes a primary obstacle
                    to itself. The concept originated in the 1976 two-player arcade game Blockade from Gremlin
                    Industries, and the ease of implementation has led to hundreds of versions for many platform.
                <p>
            </div>
        </div>
    </div>

    <div class="row align-items-md-stretch">

        <div class="col-md-10">
            <div class="h-100 p-5 bg-light border">
                <div class="row align-items-md-stretch">

                    <div class="col-md-6">
                        <div class="cells" [ngStyle]="ngStyleCells">
                            <div class="cell" [ngStyle]="ngStyleCell(idx)" *ngFor="let cell of cells; let idx = index;">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            Puntaje: {{this.snake.tail.length + 1 - 3}}
                        </div>
                        <div>
                            Tiempo de juego: {{this.time * this.timestep / 1000 | number:'1.0-0'}} s
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="h-100 p-5 bg-light border">

                <div *ngIf="dead">
                    <div class="alert alert-danger" role="alert">
                        GAME OVER...
                    </div>
                    <button class="btn btn-primary" style="width:100%" (click)="playAgain()">JUGAR DE NUEVO</button>
                </div>

            </div>
        </div>


    </div>

</div>