<div id="background" fxLayout="column" fxLayoutAlign="center center">
    <div id="mainContainer" fxLayout="column" fxLayoutAlign="center end">
        <div id="rightMainContainer">
            <header>
                <app-navbar></app-navbar>
            </header>
            <router-outlet></router-outlet>
            <footer>
                <!-- <div style="margin-top: 19rem;" fxLayout="column" fxLayoutAlign="center center">
                    <span style="color: white;">Created by Juan Marcos Vallejo</span>
                </div> -->
            </footer>
        </div>
    </div>
</div>