<div class="container py-1">

  <div class="p-2 mb-2 bg-light rounded-3">
    <div class="container-fluid py-1">
      <div>
        <h2>MAYOR O MENOR</h2>
        <p>Desde un mazo de carta se va a preguntar si la siguiente carta sera mayor o menor. El jugador sumará un punto
          ante cada carta que adivine.
        <p>
      </div>
    </div>
  </div>

  <div class="row align-items-md-stretch">

    <div class="col-md-6">
      <div class="p-5 bg-light border rounded-3 text-center" style="height: 400px">
        <div class="d-flex justify-content-center">
          <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status"
            *ngIf="spinnerService.visibility | async; else elseBlock">
            <span class="sr-only"></span>
          </div>
        </div>

        <div class="row align-items-md-stretch">
          <ng-template #elseBlock>
            <div class="col-md-6">
              <p>Carta anterior</p>
              <img src="{{(oldCardImage) ? oldCardImage : '/assets/higher-lower/cardback.png'}}" alt="cardImg"
                width="max" height="200">
              <br>
              <br>
            </div>
            <div class="col-md-6">
              <p>Carta Actual</p>
              <img src={{cardImage}} alt="cardImg" width="max" height="200">
              <br>
              <br>
            </div>
          </ng-template>
        </div>
        <div *ngIf="result == true" class="alert alert-success" role="alert">
          ¡GANASTE!
        </div>
        <div *ngIf="result == false" class="alert alert-danger" role="alert">
          PERDISTE...
        </div>
        <div *ngIf="result == null">
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="p-5 bg-light border rounded-3">
        <button class="btn btn-primary" style="width:100%" (click)="chosenOption('mayor')">MAYOR</button>
        <br>
        <br>
        <button class="btn btn-primary" style="width:100%" (click)="chosenOption('menor')">MENOR</button>
        <br>
        <br>
        <p>Puntaje: {{points}}</p>
      </div>
    </div>

  </div>

</div>