.miniature {
  height: 100%;
  display: block;
  margin-right: 1vw;
}

.mat-list-base .mat-list-item:hover {
  background-color: red;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: 15vh;
  margin-bottom: 2vh;
  cursor: pointer;
}

.text-container {
  height: 100%;
  margin-top: 1vh;
}

.text-title {
  font-size: 120%;
  font-weight: bold;
}
